*{
    overflow-x: hidden;
    overflow-y: hidden;
}
html{
    overflow-y: visible;
}
.intro{
    font-size: 18px;      
}
.line{
    line-height: 18px;  
} 
.alt-intro{
font-size: 20px;
}
.subintro{
    font-size: 10px;
}
.nanum-font{
    font-family: 'Nanum Gothic', sans-serif;
}
.ultraintro{font-size: 24px;}
.how-we {width: 100%;}
.cormorant-font{font-family: 'Cormorant Garamond', serif;}