@media screen and (max-width: 1000px) {
    div.mx-3{
        font-size: 15px;
    }   
}


@media screen and (min-width: 768px) {
    .home-label{
        font-size: 36px;      
    }
    .rights{
        font-size: 17px;
    }
    
}
@media screen and (min-width: 1024px) {
    .home-label{
        font-size: 40px;       
    }
    .rights{
        font-size: 20px;
    }
}
@media screen and (min-width: 1440px) {
    .home-label{
        font-size: 48px;        
    }
    .rights{
        font-size: 25px;
    }
}
@media screen and (max-width: 767px) {
    .caphead{
        font-size: 40px;
    }
    section{
        margin-top: 70px;
    }
    header{
        height: 70px;
    }    
    #colums{
        opacity: 0;
        height: 0;
    }
    .home-label{
        font-size: 24px;
        height: 50px;
    }
    .rights{
        font-size: 15px;
    }
   
  }
  @media screen and (max-width: 450px) {
    .caphead{
        font-size: 30px;
    }    
    .header-svg{
        width: 20px;
        height: 20px;
    }
    .rights{
        font-size: 12px;
    }
  }
  @media screen and (max-width: 350px) {
    .caphead{
        font-size: 25px;
    }
    .rights{
        font-size: 10px;
    }
  }