@media screen and (max-width: 1000px) {
    div.mx-3{
        font-size: 15px;
    }   
}
@media screen and (max-width: 767px) {
    .caphead{
        font-size: 40px;
    }
    header{
        height: 70px;
    }    
    #colums{
        opacity: 0;
        height: 0;
    }
   
  }
  @media screen and (max-width: 450px) {
    .caphead{
        font-size: 30px;
    }    
    .header-svg{
        width: 20px;
        height: 20px;
    }
  }
  @media screen and (max-width: 350px) {
    .caphead{
        font-size: 25px;
    }
  }